body{
    background: linear-gradient(67deg,darkred,black);
  }
.container {
    max-width: 400px;
}
input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}
.todos li {
    background: linear-gradient(45deg,darkorange,darksalmon);
}
.todos li:hover {
    background: linear-gradient(150deg,darksalmon,darkorange);
}
.delete{
    cursor: pointer;
}
.filtered {
  display: none !important;
}

.bg-custom{
    background: linear-gradient(45deg,orangered,black);
    color: white;
    font-family: "Comic Sans MS",SansSerif;
}
.bg-custom:hover{
    background: linear-gradient(45deg,black,orangered);
}
